# Database configuration
DATABASE_URL=postgresql://usr:pwd@localhost:5432/pan-finder

# Database connection pool settings
DB_POOL_MIN_SIZE=1
DB_POOL_MAX_SIZE=20
DB_CONNECTION_TIMEOUT=30
DB_MAX_IDLE=300
DB_MAX_LIFETIME=3600

EMBEDDING_MODEL_PATH=/models/all-MiniLM-L12-v2

AZURE_OPENAI_ENDPOINT=https://ess-ai.openai.azure.com/
AZURE_OPENAI_API_VERSION=2024-12-01-preview
AZURE_OPENAI_API_KEY=
